.listadoMensajes {
  width: 35%;
  flex-direction: column;
  overflow-y: scroll;
  border-right: 2px solid lightgrey;
  align-items: flex-start;
  text-align: left;
}

.listadoMensajes div {
  cursor: pointer;
  padding: 0.5rem 1rem;

}

.listadoMensajes div:hover {
  cursor: pointer;
  background-color: lightpink;
  border-radius: 12px;
}


@media(max-width:768px){
  .listadoMensajes {
    display: flex;
    flex-direction: row;
    width: auto;

  }
  
}